version: '1.0.{build}'

image: Visual Studio 2017

platform:
  - Win32

configuration:
  - Release

install:
  - git submodule update --init --recursive

before_build:
  - git clone https://github.com/SFML/SFML.git    
  - cd SFML
  - mkdir install
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=../install -DBUILD_SHARED_LIBS=FALSE -DSFML_USE_STATIC_STD_LIBS=TRUE ..
  - msbuild INSTALL.vcxproj
  - cd ../../
  - mkdir build
  - mkdir install
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=../install -DSFML_DIR="C:\projects\mandelbrot\SFML\install\lib\cmake\SFML" -DSFML_STATIC_LIBRARIES=TRUE ..
  - cd ..

build:
  project: build\INSTALL.vcxproj

artifacts:
  - path: install\Mandelbrot.exe
    name: mandelbrot-windows-32bits